build/
*.egg-info/
**/__pycache__/**
**/logs/**
**/CRITICAL_ERROR.txt
dist/
logs
mods
.venv/
.vscode/

# Generated documentation
docs/api/*.rst
# Explicitly keep this file as we aren't generating it automatically.
!docs/api/index.rst
